﻿<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Gürkan Haber</title>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all" href="/Content/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
    <!-- JS -->
    <script src="/Content/Assests/js/jquery-1.7.1.min.js"></script>
    <script src="/Content/Assests/js/custom.js"></script>
    <script src="/Content/Assests/js/tabs.js"></script>
    <script src="/Content/Assests/js/css3-mediaqueries.js"></script>
    <script src="/Content/Assests/js/jquery.columnizer.min.js"></script>

    <!-- Isotope -->
    <script src="/Content/Assests/js/jquery.isotope.min.js"></script>

    <!-- Lof slider -->
    <script src="/Content/Assests/js/jquery.easing.js"></script>
    <script src="/Content/Assests/js/lof-slider.js"></script>
    <link rel="stylesheet" href="/Content/css/lof-slider.css" media="all" />
    <!-- ENDS slider -->
    <!-- Tweet -->
    <link rel="stylesheet" href="/Content/css/jquery.tweet.css" media="all" />
    <script src="/Content/Assests/js/tweet/jquery.tweet.js"></script>
    <!-- ENDS Tweet -->
    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="/Content/css/superfish.css" />
    <script src="/Content/Assests/js/superfish-1.4.8/js/hoverIntent.js"></script>
    <script src="/Content/Assests/js/superfish-1.4.8/js/superfish.js"></script>
    <script src="/Content/Assests/js/superfish-1.4.8/js/supersubs.js"></script>
    <!-- ENDS superfish -->
    <!-- prettyPhoto -->
    <script src="/Content/Assests/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <link rel="stylesheet" href="/Content/Assests/js/prettyPhoto/css/prettyPhoto.css" media="screen" />
    <!-- ENDS prettyPhoto -->
    <!-- poshytip -->
    <link rel="stylesheet" href="/Content/Assests/js/poshytip-1.1/src/tip-twitter/tip-twitter.css" />
    <link rel="stylesheet" href="/Content/Assests/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css" />
    <script src="/Content/Assests/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
    <!-- ENDS poshytip -->
    <!-- JCarousel -->
    <script type="text/javascript" src="/Content/Assests/js/jquery.jcarousel.min.js"></script>
    <link rel="stylesheet" media="screen" href="/Content/css/carousel.css" />
    <!-- ENDS JCarousel -->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
    <!-- modernizr -->
    <script src="/Content/Assests/js/modernizr.js"></script>

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="/Content/css/skin.css" />

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="/Content/css/lessframework.css" />

    <!-- flexslider -->
    <link rel="stylesheet" href="/Content/css/flexslider.css">
    <script src="/Content/Assests/js/jquery.flexslider.js"></script>
</head>


<body class="home">

    <!-- HEADER -->
    
    <!-- ENDS HEADER -->
    <!-- MAIN -->
    <div id="main">
        <div class="wrapper cf">


            <!-- featured -->
            <div class="home-featured">

                

                <!-- Filter container -->
                <div id="filter-container" class="cf">
                    <figure class="web">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/01.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI </h3></a>
                            HABER İÇERİĞİ
                          </figcaption>
                    </figure>

                    <figure class="print">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/02.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                            HABER İÇERİĞİ </figcaption>
                    </figure>


                    <figure class="design">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/03.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                           HABER İÇERİĞİ  </figcaption>
                    </figure>


                    <figure class="photo">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/04.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                            HABER İÇERİĞİ</figcaption>
                    </figure>


                    <figure class="web photo">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/05.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                           HABER İÇERİĞİ  </figcaption>
                    </figure>


                    <figure class="web print">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/06.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                           HABER İÇERİĞİ    </figcaption>
                    </figure>


                    <figure class="photo">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/04.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                            HABER İÇERİĞİ    </figcaption>
                    </figure>


                    <figure class="web photo">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/05.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞIi</h3></a>
                            HABER İÇERİĞİ    </figcaption>
                    </figure>


                    <figure class="web print">
                        <a href="project.html" class="thumb"><img src="/img/dummies/featured/01.jpg" alt="alt" /></a>
                        <figcaption>
                            <a href="project.html"><h3 class="heading">HABER BAŞLIĞI</h3></a>
                           HABER İÇERİĞİ </figcaption>
                    </figure>

                </div><!-- ENDS Filter container -->

            </div>
            <!-- ENDS featured -->




        </div><!-- ENDS WRAPPER -->
    </div>
    <!-- ENDS MAIN -->
    <!-- FOOTER -->
    
    <!-- ENDS FOOTER -->

</body>



</html>