﻿<header>
    <div class="wrapper cf">

        <!-- nav -->
        <ul id="nav" class="sf-menu">
            <li class="current-menu-item"><a href="index.html">ANASAYFA</a></li>
            <li class="current-menu-item"><a href="~/Views/Kadin/Index.cshtml">KADIN</a></li>
            <li class="current-menu-item"><a href="~/Views/Teknoloji/Index.cshtml">TEKNOLOJİ</a></li>
            <li class="current-menu-item"><a href="index.html">SPOR</a></li>
            <li class="current-menu-item"><a href="index.html">EKONOMİ</a></li>
            <li class="current-menu-item"><a href="index.html">İLETİŞİM</a></li>
           
        </ul>
        <div id="combo-holder"></div>
        <!-- ends nav -->
        <!-- SLIDER -->
        <div id="home-slider" class="lof-slidecontent">

            <div class="preload"><div></div></div>

            <!-- slider content -->
            <div class="main-slider-content">
                <ul class="sliders-wrap-inner">
                    <li>
                        <img src="/img/dummies/slides/01.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                               HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için ... </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/02.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                                HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için... </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/03.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                               HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için... </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/04.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                              HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için... </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/05.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                                HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için...</a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/06.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>Lorem ipsum dolor</h4>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                                <a class="link" href="#">Read more </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="/img/dummies/slides/07.jpg" title="" alt="alt" />
                        <div class="slider-description">
                            <h4>HABER BAŞLIĞI</h4>
                            <p>
                                HABER İÇERİĞİ
                                <a class="link" href="#">Devamı için... </a>
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- ENDS slider content -->
            <!-- slider nav -->
            <div class="navigator-content">
                <div class="navigator-wrapper">
                    <ul class="navigator-wrap-inner">
                        <li><img src="/img/dummies/slides/01_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/02_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/03_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/04_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/05_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/06_thumb.jpg" alt="alt" /></li>
                        <li><img src="/img/dummies/slides/07_thumb.jpg" alt="alt" /></li>
                    </ul>
                </div>
                <div class="button-next">Next</div>
                <div class="button-previous">Previous</div>
                <!-- REMOVED TILL FIXED <div class="button-control"><span>STOP</span></div> -->
            </div>
            <!-- slider nav -->



        </div>
        <!-- ENDS SLIDER -->


    </div>
</header>
@RenderBody()

<footer>
    <div class="wrapper cf">

        <!-- widgets -->
        <ul class="widget-cols cf">
         
            <li class="second-col">

                <div class="widget-block">
                    <h4>HAKKIMIZDA</h4>
                    <p>HAKKIMIZDA ILE ILGILI ACIKLAMA </p>
                   
                </div>

            </li>

        </ul>
      

    </div>
</footer>
<!-- ENDS FOOTER -->
